
<div class='award'>


	<h3>
		Professional Activities
	</h3>
	
	<h4>
		<a name='reviewer'></a> Reviewer for Journals
	</h4>
	
	<ul >
	    <li>IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI)</li>
		<li>Artificial Intelligence (AIJ)</li>
		<li>IEEE Transactions on Neural Networks and Learning Systems (TNNLS)</li>
		<li>IEEE Transactions on Multimedia (TMM)</li>
		<li>IEEE Transactions on Cybernetics (TCYB)</li>
	    <li>IEEE Transactions on Circuits and Systems for Video Technology (TCSVT)</li>
		<li>IEEE Transactions on Industrial Informatics (TII)</li>
		<li>ACM Transactions on Knowledge Discovery from Data (TKDD)</li>
		<li>Machine Learning (MLJ)</li>
		<li>Pattern Recognition (PR)</li>
		<li>Knowledge-Based Systems (KBS)</li>
		<li>Neurocomputing</li>
		<li>Chinese Journal of Electronics</li>
		<li>中国科学：信息科学</li>
		<li>软件学报</li>
	</ul>
	
	<h4>
		<a name='reviewer'></a> Reviewer for Conferences
	</h4>
	<ul >
		<li>International Conference on Machine Learning (ICML 2021- )</li>
		<li>Conference on Neural Information Processing Systems (NeurIPS 2021- )</li>
		<li>International Conference on Learning Representations (ICLR 2022-2025, Area Chair: 2026- )</li>
		<li>ACM SIGKDD International Conference on Knowledge Discovery & Data Mining (ACM SIGKDD 2025- )</li>
		<li>IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR 2021- )</li>
		<li>International Conference on Computer Vision (ICCV 2021- )</li>
		<li>European Conference on Computer Vision (ECCV 2022- )</li>
		<li>AAAI Conference on Artificial Intelligence (AAAI 2021- )</li>
		<li>International Joint Conference on Artificial Intelligence (IJCAI 2022-2025, SPC: 2026- )</li>
		<li>ACM International Conference on Multimedia (ACM MM 2025- )</li>
		<li>International Conference on Artificial Intelligence and Statistics (AISTATS 2025- )</li>
		<li>Asian Conference on Machine Learning (ACML 2025-)</li>
	</ul>




</div>


