
<div class='award'>


	<h3>
		Selected Awards
	</h3>
	<ul >
		<li>Excellent Doctor Degree Dissertation of BJTU (Jun. 2022)</li>
		<li>BAOSTEEL Excellent Student Award (Nov. 2021)</li>
	        <li>ZHIXING Scholarship of BJTU (Jun. 2021 the greatest honor for the graduate students at BJTU)</li>
		<li>China National Scholarship (Oct. 2020)</li>
		<li>HUAWEI Scholarship (Oct. 2021)</li>
		<li>PhD Innovation Fund of BJTU (Dec. 2018, Dec. 2020)</li>
		<li>Excellent Graduates in Beijing (Jun. 2016, Jun. 2022)</li>
	</ul>


</div>


