
<div class='award'>
	<h3>
		Selected Award
	</h3>
	<ul >
		<li>BAOSTEEL Excellent Student Award (Nov. 2021)</li>
	    <li>ZHIXING Scholarship of BJTU (Jun. 2021 the greatest honor for the graduate students at BJTU)</li>
		<li>China National Scholarship (Oct. 2020)</li>
		<li>HUAWEI Scholarship (Oct. 2021)</li>
		<li>ZHIJIN Scholarship (Oct. 2020)</li>
		<li>PhD Innovation Fund of BJTU (Dec. 2018, Dec. 2020)</li>
		<li>First-class PhD academic scholarship of BJTU (Oct. 2019, Oct. 2021)</li>
		<li>Excellent Graduates in Beijing (Jun. 2016)</li>
	</ul>
	<h3>
		Professional Activities
	</h3>
	
	<h4>
		<a name='reviewer'></a> Reviewer for Journals
	</h4>
	
	<ul >
	    <li>IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI)</li>
		<li>IEEE Transactions on Neural Networks and Learning Systems (TNNLS)</li>
		<li>IEEE Transactions on Multimedia (TMM)</li>
		<li>IEEE Transactions on Industrial Informatics (TII)</li>
		<li>Neurocomputing</li>
	</ul>
	
	<h4>
		<a name='reviewer'></a> Reviewer for Conferences
	</h4>
	<ul >
		<li>International Conference on Learning Representations (ICLR 2022)</li>
		<li>International Conference on Machine Learning (ICML 2021, 2022)</li>
		<li>Conference on Neural Information Processing Systems (NeurIPS 2021, 2022)</li>
		<li>IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR 2021, 2022)</li>
		<li>International Conference on Computer Vision (ICCV 2021)</li>
		<li>European Conference on Computer Vision (ECCV 2022)</li>
		<li>AAAI Conference on Artificial Intelligence (AAAI 2021, 2022)</li>
		<li>International Joint Conference on Artificial Intelligence (IJCAI 2022)</li>
	</ul>
	
</div>


