<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/gengyu.jpg" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Gengyu Lyu 吕庚育
			</h3>
			<p>
			 	I am currently an Associate Professor (and a Ph.D. Supervisor) in the Faculty of Information Technology, Beijing University of Technology, China. 
				I received my Ph.D. degree in the School of Computer and Information Technology, Beijing Jiaotong University in 2022, where I was fortunate to be supervised by Prof. <a href="http://faculty.bjtu.edu.cn/8407/">Songhe Feng</a>. 
			</p>
		    <p>
				Here is my <a href="assets/pdf/CV_Chinese.pdf">中文简历</a>.
			</p>
			&nbsp
			<p>
			
			<h3>
			Research Interests 
			</h3> 
			My main research interests include Machine Learning and Data Mining, especially in learning from weakly supervised multi-label data.
			</p>
			
			<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
			
	</div>
</div>
