<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/gengyu.jpg" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Gengyu Lyu 吕庚育
			</h3>
			<p>
			 	I am currently an Associate Professor (and a Ph.D. Supervisor) in the Faculty of Information Technology, Beijing University of Technology (BJUT), China. 
				Before joining BJUT, I received my Ph.D. degree in the School of Computer and Information Technology, Beijing Jiaotong University (BJTU) in 2022, where I was fortunate to be supervised by Prof. <a href="http://faculty.bjtu.edu.cn/8407/">Songhe Feng</a>.
				<!--Here is my <a href="assets/pdf/CV_Chinese.pdf">中文简历</a>.-->
				
			</p>	
			<p>
			<h3>
			Research Interests 
			</h3> 
			My main research interests include Machine Learning and Data Mining, especially in learning from weakly supervised multi-label data.
			</p>
	 
	 		<b>
	 		<font color = "red">I am looking for highly motivated PhD and Master students with strong mathematical or programming background. Please send your CV to my email. <a href="https://yanzhao.bjut.edu.cn/info/1435/12229.htm">[中文招生主页]</a> 
				<a href="https://xxxb.bjut.edu.cn/info/1407/2250.htm">[中文校园主页]</a><a href="http://www.dmslab.net/index.php/people/%e5%90%95%e5%ba%9a%e8%82%b2/">[实验室主页]</a>
			</font>
			</b>
	 
	 		
			
			
			<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a> and 
	                         <a href="https://scholar.google.com/citations?user=wZYLfyIAAAAJ&hl=zh-CN">Google Scholar Citations Page</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
			
	</div>
</div>
