<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/gengyu.jpg" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Gengyu Lyu 吕庚育
			</h3>
			<p>
			 I am a fourth-year PhD student at Beijing Jiaotong University (BJTU), supervised by Prof. <a href="http://faculty.bjtu.edu.cn/8407/">Songhe Feng</a>.
				I have reveived the BS degree in Software Engineering from Beijing Union University, China, in 2016.
				Here is my <a href="assets/pdf/CV_Chinese.pdf">中文简历</a>.
			</p>
			&nbsp
			<p>
			
			<h3>
			Research Interests 
			</h3> 
			My main research interests include Machine Learning and Data Mining, especially in learning from weakly supervised multi-label data.
			</p>
			
			<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
			
	</div>
</div>
