
<div class='award'>



	<h3>
		Selected Projects
	</h3>
	<ul >
		<li>Research on Key Technologies of Multi-View Multi-Label Learning under Non Perfect Data<strong>, National Natural Science Foundation of China</strong>, PI, 2024.01-2026.12 </li>
		<li>Research on Multi-View Information Fusion and Multi-Label Classification Algorithm, <strong>Project funded by China Postdoctoral Science Foundation</strong>, PI, 2023.01-2024.07 </li>
		<li>Research on Technologies of Public Sentiment Dissemination and Effectiveness Evaluation across Social Media Networks<strong>, National Key Research and Development Program of China</strong>, 2023.12-2026.11 </li>
		<li>Research on Key Issues of Graph Neural Networks for Relational Reasoning, <strong>National Natural Science Foundation of China</strong>, 2021.01-2024.12 </li>
		<li>Research on Key Technologies for Visual Saliency Analysis and Semantic Segmentation of Images under Weak Supervised Learning Framework, <strong>National Natural Science Foundation of China</strong>, 2021.01-2024.12 </li>
		<li>Research on Complex Scene based Unsupervised Transfer Learning Person Re-Identification Method, <strong>National Natural Science Foundation of China</strong>, 2020.01-2023.12 </li>
		<li>Research on Key Technologies of Large-Scale Image Semantic Understanding Under Weak Supervised Learning Framework, <strong>National Natural Science Foundation of China</strong>, 2019-2022 </li>
		<li>Research on Weakly Supervised Multi-Label Learning Algorithm and its Application in Image Semantic Understanding, <strong>Beijing Natural Science Foundation</strong>, 2020-2022 </li>
	    
	</ul>




</div>


