<h3>
	<a name='publications'></a> Selected Publications
</h3>

<h4>
	<a name='2025'></a> 2025
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Addressing Multi-label Learning with Partial Labels: from Sample Selection to Label Selection</strong><br />
	   <strong>Gengyu Lyu</strong>, Bohang Sun, Xiang Deng, Songhe Feng (Corresponding Author)<br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2025.
	   <a href="assets/pdf/CLS.pdf">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>CFDM: Contrastive Fusion and Disambiguation for Multi-View Partial-Label Learning</strong><br />
	  Qiuru Hai, Yongjian Deng, Yuena Lin, Zheng Li, Zhen Yang (Corresponding Author), <strong>Gengyu Lyu (Corresponding Author)</strong><br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2025.
	   <a href="assets/pdf/CFDM.pdf">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Graph Consistency and Diversity Measurement for Federated Multi-View Clustering</strong><br />
	  Bohang Sun, Yongjian Deng, Yuena Lin, Qiuru Hai, Zhen Yang, <strong>Gengyu Lyu (Corresponding Author)</strong><br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2025.
	  <a href="assets/pdf/MGCD.pdf">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Multi-View Multi-Label Classification via View-Label Matching Selection</strong><br />
	  Hao Wei, Yongjian Deng, Qiuru Hai, Yuena Lin, Zhen Yang, <strong>Gengyu Lyu (Corresponding Author)</strong><br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2025.
	   <a href="assets/pdf/VAMS.pdf">[PDF]</a>
	</p>
  </div>
</div>

<h4>
	<a name='2024'></a> 2024
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Common-Individual Semantic Fusion for Multi-View Multi-Label Learning</strong><br />
	   <strong>Gengyu Lyu</strong>, Weiqi Kang, Haobo Wang, Zheng Li, Zhen Yang, Songhe Feng<br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2024: 4715-4723.
	   <a href="assets/pdf/CISF.pdf">[PDF]</a> <a href="assets/codes/CISF.zip">[Codes]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>L-VSM: Label Driven View-Specific Fusion for Multi-View Multi-Label Classification</strong><br />
	   <strong>Gengyu Lyu</strong>, Zhen Yang, Xiang Deng, Songhe Feng<br />
	   IEEE Transactions on Neural Networks and Learning Systems (TNNLS), 2024.
	   <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10516663">[PDF]</a> <a href="assets/codes/LVSM.zip">[Codes]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>SDformer: Transformer with Spectral Filter and Dynamic Attention for Multivariate Time Series Long-term Forecasting</strong><br />
	   Ziyu Zhou, <strong>Gengyu Lyu (Corresponding Author)</strong>, Yiming Huang, Zihao Wang, Ziyu Jia, Zhen Yang<br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2024: 5689-5697.
	   <a href="assets/pdf/SDformer.pdf">[PDF]</a> <a href="https://github.com/zhouziyu02/SDformer">[Codes]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Align while Fusion: A Generalized Non-Aligned Multi-View Multi-Label Classification Method</strong><br />
	   Qiyu Zhong, <strong>Gengyu Lyu (Corresponding Author)</strong>, Zhen Yang<br />
	   IEEE Transactions on Neural Networks and Learning Systems (TNNLS), 2024.
	   <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10507803">[PDF]</a> <a href="assets/codes/GNAM.zip">[Codes]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Unbiased Multi-Label Learning from Crowdsourced Annotations</strong><br />
	   Mingxuan Xia, Zenan Huang, Runze Wu, <strong>Gengyu Lyu</strong>,Junbo Zhao, Gang Chen, Haobo Wang<br />
	   International Conference on Machine Learning (ICML), 2024:54064-54081.
	   <a href="https://openreview.net/pdf?id=bgP8Rxv2eB">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>A Separation and Alignment Framework for Black-box Domain Adaptation</strong><br />
	  Mingxuan Xia, Junbo Zhao, <strong>Gengyu Lyu</strong>, Zenan Huang, Tianlei Hu, Gang Chen, Haobo Wang<br />
	  AAAI Conference on Artificial Intelligence (AAAI), 2024: 16005-16013.
	  <a href="https://ojs.aaai.org/index.php/AAAI/article/view/29532">[PDF]</a>	
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>SURER: Structure-Adaptive Unified Graph Neural Network for Multi-view Clustering</strong><br />
	   Jing Wang, Songhe Feng, <strong>Gengyu Lyu</strong>, JiaZheng Yuan<br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2024: 15520-15527.
	   <a href="https://ojs.aaai.org/index.php/AAAI/article/view/29478">[PDF]</a>
	</p>
  </div>
</div>




<h4>
	<a name='2023'></a> 2023
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Prior Knowledge Regularized Self-Representation Model for Partial Multi-Label Learning</strong><br />
	  <strong>Gengyu Lyu</strong>, Songhe Feng, Yi Jin, Tao Wang, Congyan Lang, Yidong Li<br />
	   IEEE Transactions on Cybernetics (TCYB), 53(3):1618-1628, 2023.
	   <a href="https://ieeexplore.ieee.org/abstract/document/9533180">[PDF]</a>
	</p>
  </div>
</div>


<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Redundant Label Learning via Subspace Representation and Global Disambiguation</strong><br />
	  <strong>Gengyu Lyu</strong>, Songhe Feng, Wei Liu, Shuoyan Liu, Congyan Lang<br />
	  ACM Transactions on Intelligent Systems and Technology (ACM TIST), 14(1):15, 2023.
	  <a href="http://dl-acm-org-s.libziyuan.bjut.edu.cn:8118/doi/pdf/10.1145/3558547">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Prior Knowledge Constrained Adaptive Graph Framework for Partial Label Learning</strong><br />
	  <strong>Gengyu Lyu</strong>, Songhe Feng, Shaokai Wang, Zhen Yang<br />
	  ACM Transactions on Intelligent Systems and Technology (ACM TIST), 14(2):25, 2023.
	  <a href="http://dl-acm-org-s.libziyuan.bjut.edu.cn:8118/doi/pdf/10.1145/3569421">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Deep Partial Multi-Label Learning with Graph Disambiguation</strong><br />
	   Haobo Wang, Shisong Yang, <strong>Gengyu Lyu (Corresponding Author)</strong>, WeiWei Liu, Tianlei Hu, Ke Chen, Songhe Feng, Gang Chen<br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2023: 4308-4316.
	   <a href="https://arxiv.org/pdf/2305.05882.pdf">[PDF]</a> <a href="assets/codes/PLAIN.zip">[Codes]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Triple-Granularity Contrastive Learning for Deep Multi-View Subspace Clustering</strong><br />
	  Jing Wang, Songhe Feng, <strong>Gengyu Lyu</strong>, Zhibin Gu<br />
	  ACM International Conference on Multimedia (ACM MM), 2023: 2994-3002. <a href="https://dl.acm.org/doi/abs/10.1145/3581783.3611844">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>MetaZSCIL: A Meta-Learning Approach for Generalized Zero-Shot Class Incremental Learning</strong><br />
	  Yanan Wu, Tengfei Liang, Songhe Feng, Yi Jin, <strong>Gengyu Lyu</strong>, Haojun Fei, Yang Wang<br />
	  AAAI Conference on Artificial Intelligence (AAAI), 2023: 10408-10416.
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Beyond Word Embeddings: Heterogeneous Prior Knowledge Driven Multi-Label Image Classification</strong><br />
	  Xiang Deng, Songhe Feng, <strong>Gengyu Lyu</strong>, Hongzhe Liu, Yi Jin<br />
	   IEEE Transactions on Multimedia (TMM), 25:4013-4025, 2023.
	   <a href="https://ieeexplore.ieee.org/abstract/document/9765340">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Distance-Preserving Embedding Adaptive Bipartite Graph Multi-View Learning with Application to Multi-Label Classification</strong><br />
	   Xun Lu, Songhe Feng, <strong>Gengyu Lyu</strong>, Yi Jin, Congyan Lang<br />
	   ACM Transactions on Knowledge Discovery from Data (TKDD), 17(2):19, 2023.
	   <a href="http://dl-acm-org-s.libziyuan.bjut.edu.cn:8118/doi/10.1145/3537900">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>ONION: Joint Unsupervised Feature Selection and Robust Subspace Extraction for Graph-Based Multi-View Clustering</strong><br />
	   Zhibin Gu, Songhe Feng, Ruiting Hu，<strong>Gengyu Lyu</strong><br />
	   ACM Transactions on Knowledge Discovery from Data (TKDD), 17(5):70, 2023.
	   <a href="http://dl-acm-org-s.libziyuan.bjut.edu.cn:8118/doi/pdf/10.1145/3568684">[PDF]</a>
	</p>
  </div>
</div>


<h4>
	<a name='2022'></a> 2022
</h4>



<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Beyond Shared Subspace: A View-Specific Fusion for Multi-View Multi-Label Learning</strong><br />
	  <strong>Gengyu Lyu*</strong>, Xiang Deng*(Equal Contributions), Yanan Wu, Songhe Feng<br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2022:7647-7654
	   <a href="https://www.aaai.org/AAAI22Papers/AAAI-500.LyuG.pdf">[PDF]</a> <a href="assets/codes/D-VSM.zip">[Codes]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Deep Graph Matching for Partial Label Learning</strong><br />
	  <strong>Gengyu Lyu*</strong>, Yanan Wu*(Equal Contributions), Songhe Feng<br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2022:3306-3312
	   <a href="https://scholar.google.com/citations?user=wZYLfyIAAAAJ&hl=zh-CN">[PDF]</a> <a href="assets/codes/D-GAP.zip">[Codes]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>A Self-Paced Regularization Framework for Partial Label Learning</strong><br />
	  <strong>Gengyu Lyu</strong>, Songhe Feng, Tao Wang, Congyan Lang<br />
	   IEEE Transactions on Cybernetics (TCYB), 52(2):899-911, 2022.
	   <a href="https://ieeexplore.ieee.org/abstract/document/9094702">[PDF]</a>
	</p>
  </div>
</div>





<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Global-Local Label Correlation for Partial Multi-Label Learning</strong><br />
	  Lijuan Sun, Songhe Feng, Jun Liu, <strong>Gengyu Lyu</strong>, Congyan Lang<br />
	   IEEE Transactions on Multimedia (TMM), 24:581-593, 2022
	   <a href="https://ieeexplore.ieee.org/abstract/document/9343691">[PDF]</a>
	</p>
  </div>
</div>


<h4>
	<a name='2021'></a> 2021
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>GM-PLL: Graph Matching based Partial Label Learning</strong><br />
	  <strong>Gengyu Lyu</strong>, Songhe Feng, Tao Wang, Congyan Lang, Yidong Li<br />
	   IEEE Transactions on Knowledge and Data Engineering (TKDE), 33(2):521-535, 2021.
	   <a href="https://ieeexplore.ieee.org/abstract/document/8792183">[PDF]</a> <a href="assets/codes/GM-PLL.zip">[Codes]</a>
	</p>
  </div>
</div>





<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Noisy Label Tolerance: A New Perspective of Partial Multi-Label Learning</strong><br />
	  <strong>Gengyu Lyu</strong>, Songhe Feng, Yidong Li<br />
	   Information Sciences (INS), 543:454-466, 2021.
	   <a href="https://www.sciencedirect.com/science/article/pii/S0020025520309294">[PDF]</a> <a href="assets/codes/NATAL.zip">[Codes]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>GM-MLIC: Graph Matching based Multi-Label Image Classification</strong><br />
	  Yanan Wu, He Liu, Songhe Feng, Yi Jin, <strong>Gengyu Lyu</strong>, Zizhang Wu<br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2021:1179-1185
	   <a href="https://www.ijcai.org/proceedings/2021/0163.pdf">[PDF]</a>
	</p>
  </div>
</div>




<h4>
	<a name='2020'></a> 2020
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Partial Multi-Label Learning via Probabilistic Graph Matching Mechanism</strong><br />
	  <strong>Gengyu Lyu</strong>, Songhe Feng, Yidong Li<br />
	   ACM SIGKDD Conference on Knowledge Discovery and Data Mining (ACM SIGKDD), 2020:105-113
	   <a href="https://dl.acm.org/doi/abs/10.1145/3394486.3403053?casa_token=EsVtXTB4kWcAAAAA:GkMInN0EEI9vhnnkfjGxyPNz4ELp4yUxUIw0p6o9ht6T7P5IFmf0GptdUF1UD2YALDqa2m9vDwkdDA">[PDF]</a> <a href="assets/codes/HALE.zip">[Codes]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>HERA: Partial Label Learning by Combining Heterogeneous Loss with Sparse and Low-rank Regularization</strong><br />
	  <strong>Gengyu Lyu</strong>, Songhe Feng, Yidong Li, Yi Jin, Guojun Dai, Congyan Lang<br />
	   ACM Transactions on Intelligent Systems and Technology (ACM TIST), 11(3):34, 1-19, 2020.
	   <a href="https://dl.acm.org/doi/abs/10.1145/3379501?casa_token=_rNZxaEvGdgAAAAA%3AZXkYu5f-yLyu8axsrx_o1iDpXE5-yxaSXOi3jLncJj5ltRTsnt2UxNUpeHzbL_lssOtBQVJizmw74g">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Partial Label Learning via Self-Paced Curriculum Strategy</strong><br />
	  <strong>Gengyu Lyu</strong>, Songhe Feng, Yidong Li<br />
	  The European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (ECML-PKDD), 2020:489-505
	  <!--  <a href="https://link.springer.com/chapter/10.1007/978-3-030-67661-2_29">[PDF]</a>-->
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Partial Label Learning via Low-Rank Representation and Label Propagation</strong><br />
	  <strong>Gengyu Lyu</strong>, Songhe Feng, Wenying Huang, Guojun Dai<br />
	   Soft Computing (SOCO), 24(7):5165-5176, 2020.
	   <a href="https://link.springer.com/article/10.1007/s00500-019-04269-9">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Partial Multi-Label Learning via Multi-Subspace Representation</strong><br />
	  Ziwei Li*, <strong>Gengyu Lyu*</strong>(Equal Contributions), Songhe Feng<br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2020:2612-2618
	   <a href="https://www.ijcai.org/proceedings/2020/0362.pdf">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Partial Label Learning via Subspace Representation and Global Disambiguation</strong><br />
	  Yue Sun*, <strong>Gengyu Lyu*</strong>(Equal Contributions), Songhe Feng<br />
	   The European Conference on Machine Learning and Principles and Practice of Knowledge Discovery in Databases (ECML-PKDD), 2020:439-454
	  <!-- <a href="https://link.springer.com/chapter/10.1007/978-3-030-67661-2_26">[PDF]</a>-->
	</p>
  </div>
</div>






	

	
