<h3>
	<a name='publications'></a> Selected Publications 
</h3>

<h4>
	<a name='2025'></a> 2025
</h4>


<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Simplified Graph Contrastive Learning Model without Augmentation</strong><br />
	  Yuena Lin, <strong><u>Gengyu Lyu <i class="fa fa-envelope"></i></u></strong>, Haichun Cai, Dengbao Wang, Haobo Wang, Zhen Yang<br />
	  IEEE Transactions on Knowledge and Data Engineering (TKDE), 2025.
	  <a href="https://ieeexplore.ieee.org/abstract/document/11084849">[PDF]</a> <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>


<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Tensorized Multi-View Multi-Label Classification via Laplace Tensor Rank</strong><br />
	   Qiyu Zhong, Yi Shan, Haobo Wang, Zhen Yang, <strong><u>Gengyu Lyu <i class="fa fa-envelope"></i></u></strong><br />
	   International Conference on Machine Learning (ICML), 2025.
	   <a href="https://openreview.net/pdf?id=muZEsBQzlA">[PDF]</a> <a href="assets/codes/TMvML.zip">[Codes]</a> <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Mitigating Local Cohesion and Global Sparseness in Graph Contrastive Learning with Fuzzy Boundaries</strong><br />
	   Yuena Lin, Haichun Cai, JunYi Hang, Haobo Wang, Zhen Yang, <strong><u>Gengyu Lyu <i class="fa fa-envelope"></i></u></strong><br />
	   International Conference on Machine Learning (ICML), 2025.
	   <a href="https://openreview.net/pdf?id=1b94nzUAvt">[PDF]</a> <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Critical Node-aware Augmentation for Hypergraph Contrastive Learning</strong><br />
	   Zhuo Li, Yuena Lin, Yipeng Wang, Wenmao Liu, Mingliang Yu, Zhen Yang, <strong><u>Gengyu Lyu <i class="fa fa-envelope"></i></u></strong><br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2025.
	   <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Enhance Multi-View Classification Through Multi-Scale Alignment and Expanded Boundary</strong><br />
	  Yuena Lin, Yiyuan Wang, <strong><u>Gengyu Lyu <i class="fa fa-envelope"></i></u></strong>, Yongjian Deng, Haichun Cai, Huibin Lin, Haobo Wang, Zhen Yang<br />
	  International Conference on Learning Representations (ICLR), 2025.
	  <a href="assets/pdf/MAMC.pdf">[PDF]</a>  <a href="assets/codes/MAMC.zip">[Codes]</a> <strong><font color="red">(机器学习三大会议)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Addressing Multi-label Learning with Partial Labels: from Sample Selection to Label Selection</strong><br />
	   <strong><u>Gengyu Lyu</u></strong>, Bohang Sun, Xiang Deng, Songhe Feng <i class="fa fa-envelope"></i><br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2025: 19251-19259.
	   <a href="https://ojs.aaai.org/index.php/AAAI/article/view/34119">[PDF]</a>  <a href="assets/codes/CLS.zip">[Codes]</a> <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>L-VSM: Label Driven View-Specific Fusion for Multi-View Multi-Label Classification</strong><br />
	   <strong><u>Gengyu Lyu</u></strong>, Zhen Yang, Xiang Deng, Songhe Feng<br />
	   IEEE Transactions on Neural Networks and Learning Systems (TNNLS), 36(4):6569-6583, 2025.
	   <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10516663">[PDF]</a> <a href="assets/codes/LVSM.zip">[Codes]</a> <strong><font color="red">(CCF B)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>CFDM: Contrastive Fusion and Disambiguation for Multi-View Partial-Label Learning</strong><br />
	  Qiuru Hai, Yongjian Deng, Yuena Lin, Zheng Li, Zhen Yang, <strong><u>Gengyu Lyu <i class="fa fa-envelope"></i></u></strong><br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2025: 17005-17013.
	   <a href="https://ojs.aaai.org/index.php/AAAI/article/view/33869">[PDF]</a> <a href="assets/codes/CFDM.zip">[Codes]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Graph Consistency and Diversity Measurement for Federated Multi-View Clustering</strong><br />
	  Bohang Sun, Yongjian Deng, Yuena Lin, Qiuru Hai, Zhen Yang, <strong><u>Gengyu Lyu <i class="fa fa-envelope"></i></u></strong><br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2025: 20663-20671.
	  <a href="https://ojs.aaai.org/index.php/AAAI/article/view/34277">[PDF]</a> <a href="assets/codes/MGCD.zip">[Codes]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Multi-View Multi-Label Classification via View-Label Matching Selection</strong><br />
	  Hao Wei, Yongjian Deng, Qiuru Hai, Yuena Lin, Zhen Yang, <strong><u>Gengyu Lyu <i class="fa fa-envelope"></i></u></strong><br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2025: 21456-21464.
	   <a href="https://ojs.aaai.org/index.php/AAAI/article/view/35447">[PDF]</a> <a href="assets/codes/VAMS.zip">[Codes]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Align while Fusion: A Generalized Non-Aligned Multi-View Multi-Label Classification Method</strong><br />
	   Qiyu Zhong, <strong><u>Gengyu Lyu <i class="fa fa-envelope"></i></u></strong>, Zhen Yang<br />
	   IEEE Transactions on Neural Networks and Learning Systems (TNNLS), 36(4):7627-7636, 2025.
	   <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10507803">[PDF]</a> <a href="assets/codes/GNAM.zip">[Codes]</a>  <strong><font color="red">(CCF B)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Federated Multi-View Multi-Label Classification</strong><br />
	  Hongdao Meng, Yongjian Deng, Qiyu Zhong, Yipeng Wang, Zhen Yang, <strong><u>Gengyu Lyu <i class="fa fa-envelope"></i></u></strong><br />
	   IEEE Transactions on Big Data (TBD), 2025.
	   <a href="https://ieeexplore.ieee.org/document/10816109">[PDF]</a>  <strong><font color="red">(CCF C, 课题组本科生一作)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Large Margin Representation Learning for Robust Cross-lingual Named Entity Recognition</strong><br />
	  Guangcheng Zhu, Ruixuan Xiao, Zhen Zhu, <strong><u>Gengyu Lyu</u></strong>, Junbo Zhao, Haobo Wang<br />
	  Annual Meeting of the Association for Computational Linguistics (ACL), 2025.  
	  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Know Where You Are From: Event-Based Segmentation via Spatio-Temporal Propagation</strong><br />
	  Ke Li, <strong><u>Gengyu Lyu</u></strong>, Hao Chen, Bochen Xie, Zhen Yang, Youfu Li, Yongjian Deng<br />
	  AAAI Conference on Artificial Intelligence (AAAI), 2025: 4806-4814.  
	  <a href="https://ojs.aaai.org/index.php/AAAI/article/view/32508">[PDF]</a> <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>ESEG: Event-Based Segmentation Boosted by Explicit Edge-Semantic Guidance</strong><br />
	   Yucheng Zhao, <strong><u>Gengyu Lyu</u></strong>, Ke Li, Zihao Wang, Hao Chen, Zhen Yang, Yongjian Deng<br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2025: 10510-10518.  
	  <a href="https://ojs.aaai.org/index.php/AAAI/article/view/33141">[PDF]</a>   <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>MSV-PCT: Multi-Sparse-View Enhanced Transformer Framework for Salient Object Detection in Point Clouds</strong><br />
	   Zihao Wang, Yiming Huang, <strong><u>Gengyu Lyu</u></strong>, Yucheng Zhao, Ziyu Zhou, Bochen Xie, Zhen Yang, Yongjian Deng<br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2025: 8268-8276.   
	  <a href="https://ojs.aaai.org/index.php/AAAI/article/view/32892">[PDF]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Multi-Instance Multi-Label Classification from Crowdsourced Labels</strong><br />
	  Ziquan Wang, Mingxuan Xia, Xiangyu Ren, Jiaqing Zhou, <strong><u>Gengyu Lyu</u></strong>, Tianlei Hu, Haobo Wang<br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2025: 21438-21446.   
	  <a href="https://ojs.aaai.org/index.php/AAAI/article/view/35445">[PDF]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<h4>
	<a name='2024'></a> 2024
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Common-Individual Semantic Fusion for Multi-View Multi-Label Learning</strong><br />
	   <strong><u>Gengyu Lyu</u></strong>, Weiqi Kang, Haobo Wang, Zheng Li, Zhen Yang, Songhe Feng<br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2024: 4715-4723.
	   <a href="https://www.ijcai.org/proceedings/2024/521">[PDF]</a> <a href="assets/codes/CISF.zip">[Codes]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>



<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>SDformer: Transformer with Spectral Filter and Dynamic Attention for Multivariate Time Series Long-term Forecasting</strong><br />
	   Ziyu Zhou, <strong><u>Gengyu Lyu <i class="fa fa-envelope"></i></u></strong>, Yiming Huang, Zihao Wang, Ziyu Jia, Zhen Yang<br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2024: 5689-5697.
	   <a href="https://www.ijcai.org/proceedings/2024/629">[PDF]</a> <a href="https://github.com/zhouziyu02/SDformer">[Codes]</a>  <strong><font color="red">(CCF A, 课题组本科生一作)</font></strong>
	</p>
  </div>
</div>



<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Unbiased Multi-Label Learning from Crowdsourced Annotations</strong><br />
	   Mingxuan Xia, Zenan Huang, Runze Wu, <strong><u>Gengyu Lyu</u></strong>,Junbo Zhao, Gang Chen, Haobo Wang<br />
	   International Conference on Machine Learning (ICML), 2024:54064-54081.
	   <a href="https://openreview.net/pdf?id=bgP8Rxv2eB">[PDF]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>A Separation and Alignment Framework for Black-box Domain Adaptation</strong><br />
	  Mingxuan Xia, Junbo Zhao, <strong><u>Gengyu Lyu</u></strong>, Zenan Huang, Tianlei Hu, Gang Chen, Haobo Wang<br />
	  AAAI Conference on Artificial Intelligence (AAAI), 2024: 16005-16013.
	  <a href="https://ojs.aaai.org/index.php/AAAI/article/view/29532">[PDF]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>SURER: Structure-Adaptive Unified Graph Neural Network for Multi-view Clustering</strong><br />
	   Jing Wang, Songhe Feng, <strong><u>Gengyu Lyu</u></strong>, JiaZheng Yuan<br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2024: 15520-15527.
	   <a href="https://ojs.aaai.org/index.php/AAAI/article/view/29478">[PDF]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>




<h4>
	<a name='2023'></a> 2023
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Prior Knowledge Regularized Self-Representation Model for Partial Multi-Label Learning</strong><br />
	  <strong><u>Gengyu Lyu</u></strong>, Songhe Feng, Yi Jin, Tao Wang, Congyan Lang, Yidong Li<br />
	   IEEE Transactions on Cybernetics (TCYB), 53(3):1618-1628, 2023.
	   <a href="https://ieeexplore.ieee.org/abstract/document/9533180">[PDF]</a> <strong><font color="red">(CCF B)</font></strong>
	</p>
  </div>
</div>


<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Redundant Label Learning via Subspace Representation and Global Disambiguation</strong><br />
	  <strong><u>Gengyu Lyu</u></strong>, Songhe Feng, Wei Liu, Shuoyan Liu, Congyan Lang<br />
	  ACM Transactions on Intelligent Systems and Technology (ACM TIST), 14(1):15, 2023.
	  <a href="http://dl-acm-org-s.libziyuan.bjut.edu.cn:8118/doi/pdf/10.1145/3558547">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Prior Knowledge Constrained Adaptive Graph Framework for Partial Label Learning</strong><br />
	  <strong><u>Gengyu Lyu</u></strong>, Songhe Feng, Shaokai Wang, Zhen Yang<br />
	  ACM Transactions on Intelligent Systems and Technology (ACM TIST), 14(2):25, 2023.
	  <a href="http://dl-acm-org-s.libziyuan.bjut.edu.cn:8118/doi/pdf/10.1145/3569421">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Deep Partial Multi-Label Learning with Graph Disambiguation</strong><br />
	   Haobo Wang, Shisong Yang, <strong><u>Gengyu Lyu <i class="fa fa-envelope"></i></u></strong>, WeiWei Liu, Tianlei Hu, Ke Chen, Songhe Feng, Gang Chen<br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2023: 4308-4316.
	   <a href="https://www.ijcai.org/proceedings/2023/479">[PDF]</a> <a href="assets/codes/PLAIN.zip">[Codes]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Triple-Granularity Contrastive Learning for Deep Multi-View Subspace Clustering</strong><br />
	  Jing Wang, Songhe Feng, <strong><u>Gengyu Lyu</u></strong>, Zhibin Gu<br />
	  ACM International Conference on Multimedia (ACM MM), 2023: 2994-3002. <a href="https://dl.acm.org/doi/abs/10.1145/3581783.3611844">[PDF]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>MetaZSCIL: A Meta-Learning Approach for Generalized Zero-Shot Class Incremental Learning</strong><br />
	  Yanan Wu, Tengfei Liang, Songhe Feng, Yi Jin, <strong><u>Gengyu Lyu</u></strong>, Haojun Fei, Yang Wang<br />
	  AAAI Conference on Artificial Intelligence (AAAI), 2023: 10408-10416. <a href="https://ojs.aaai.org/index.php/AAAI/article/view/26238">[PDF]</a> <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Beyond Word Embeddings: Heterogeneous Prior Knowledge Driven Multi-Label Image Classification</strong><br />
	  Xiang Deng, Songhe Feng, <strong><u>Gengyu Lyu</u></strong>, Hongzhe Liu, Yi Jin<br />
	   IEEE Transactions on Multimedia (TMM), 25:4013-4025, 2023.
	   <a href="https://ieeexplore.ieee.org/abstract/document/9765340">[PDF]</a> <strong><font color="red">(CCF B)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Distance-Preserving Embedding Adaptive Bipartite Graph Multi-View Learning with Application to Multi-Label Classification</strong><br />
	   Xun Lu, Songhe Feng, <strong><u>Gengyu Lyu</u></strong>, Yi Jin, Congyan Lang<br />
	   ACM Transactions on Knowledge Discovery from Data (TKDD), 17(2):19, 2023.
	   <a href="http://dl-acm-org-s.libziyuan.bjut.edu.cn:8118/doi/10.1145/3537900">[PDF]</a> <strong><font color="red">(CCF B)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>ONION: Joint Unsupervised Feature Selection and Robust Subspace Extraction for Graph-Based Multi-View Clustering</strong><br />
	   Zhibin Gu, Songhe Feng, Ruiting Hu，<strong><u>Gengyu Lyu</u></strong><br />
	   ACM Transactions on Knowledge Discovery from Data (TKDD), 17(5):70, 2023.
	   <a href="http://dl-acm-org-s.libziyuan.bjut.edu.cn:8118/doi/pdf/10.1145/3568684">[PDF]</a> <strong><font color="red">(CCF B)</font></strong>
	</p>
  </div>
</div>


<h4>
	<a name='2022'></a> 2022
</h4>



<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Beyond Shared Subspace: A View-Specific Fusion for Multi-View Multi-Label Learning</strong><br />
	  <strong><u>Gengyu Lyu</u></strong>, Xiang Deng, Yanan Wu, Songhe Feng<br />
	   AAAI Conference on Artificial Intelligence (AAAI), 2022:7647-7654
	   <a href="https://www.aaai.org/AAAI22Papers/AAAI-500.LyuG.pdf">[PDF]</a> <a href="assets/codes/D-VSM.zip">[Codes]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Deep Graph Matching for Partial Label Learning</strong><br />
	  <strong><u>Gengyu Lyu</u></strong>, Yanan Wu, Songhe Feng<br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2022:3306-3312
	   <a href="https://scholar.google.com/citations?user=wZYLfyIAAAAJ&hl=zh-CN">[PDF]</a> <a href="assets/codes/D-GAP.zip">[Codes]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>A Self-Paced Regularization Framework for Partial Label Learning</strong><br />
	  <strong><u>Gengyu Lyu</u></strong>, Songhe Feng, Tao Wang, Congyan Lang<br />
	   IEEE Transactions on Cybernetics (TCYB), 52(2):899-911, 2022.
	   <a href="https://ieeexplore.ieee.org/abstract/document/9094702">[PDF]</a> <strong><font color="red">(CCF B)</font></strong>
	</p>
  </div>
</div>





<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Global-Local Label Correlation for Partial Multi-Label Learning</strong><br />
	  Lijuan Sun, Songhe Feng, Jun Liu, <strong><u>Gengyu Lyu</u></strong>, Congyan Lang<br />
	   IEEE Transactions on Multimedia (TMM), 24:581-593, 2022
	   <a href="https://ieeexplore.ieee.org/abstract/document/9343691">[PDF]</a> <strong><font color="red">(CCF B)</font></strong>
	</p>
  </div>
</div>


<h4>
	<a name='2021'></a> 2021
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>GM-PLL: Graph Matching based Partial Label Learning</strong><br />
	  <strong><u>Gengyu Lyu</u></strong>, Songhe Feng, Tao Wang, Congyan Lang, Yidong Li<br />
	   IEEE Transactions on Knowledge and Data Engineering (TKDE), 33(2):521-535, 2021.
	   <a href="https://ieeexplore.ieee.org/abstract/document/8792183">[PDF]</a> <a href="assets/codes/GM-PLL.zip">[Codes]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>





<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Noisy Label Tolerance: A New Perspective of Partial Multi-Label Learning</strong><br />
	  <strong><u>Gengyu Lyu</u></strong>, Songhe Feng, Yidong Li<br />
	   Information Sciences (INS), 543:454-466, 2021.
	   <a href="https://www.sciencedirect.com/science/article/pii/S0020025520309294">[PDF]</a> <a href="assets/codes/NATAL.zip">[Codes]</a> <strong><font color="red">(CCF B)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>GM-MLIC: Graph Matching based Multi-Label Image Classification</strong><br />
	  Yanan Wu, He Liu, Songhe Feng, Yi Jin, <strong><u>Gengyu Lyu</u></strong>, Zizhang Wu<br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2021:1179-1185
	   <a href="https://www.ijcai.org/proceedings/2021/0163.pdf">[PDF]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>




<h4>
	<a name='2020'></a> 2020
</h4>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Partial Multi-Label Learning via Probabilistic Graph Matching Mechanism</strong><br />
	  <strong><u>Gengyu Lyu</u></strong>, Songhe Feng, Yidong Li<br />
	   ACM SIGKDD Conference on Knowledge Discovery and Data Mining (ACM SIGKDD), 2020:105-113
	   <a href="https://dl.acm.org/doi/10.1145/3394486.3403053">[PDF]</a> <a href="assets/codes/HALE.zip">[Codes]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>HERA: Partial Label Learning by Combining Heterogeneous Loss with Sparse and Low-rank Regularization</strong><br />
	  <strong><u>Gengyu Lyu</u></strong>, Songhe Feng, Yidong Li, Yi Jin, Guojun Dai, Congyan Lang<br />
	   ACM Transactions on Intelligent Systems and Technology (ACM TIST), 11(3):34, 1-19, 2020.
	   <a href="https://dl.acm.org/doi/abs/10.1145/3379501?casa_token=_rNZxaEvGdgAAAAA%3AZXkYu5f-yLyu8axsrx_o1iDpXE5-yxaSXOi3jLncJj5ltRTsnt2UxNUpeHzbL_lssOtBQVJizmw74g">[PDF]</a>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Partial Label Learning via Self-Paced Curriculum Strategy</strong><br />
	  <strong><u>Gengyu Lyu</u></strong>, Songhe Feng, Yidong Li<br />
	  The European Conference on Machine Learning (ECML-PKDD), 2020:489-505
	  <a href="https://link.springer.com/chapter/10.1007/978-3-030-67661-2_29">[PDF]</a> <strong><font color="red">(CCF B)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Partial Label Learning via Low-Rank Representation and Label Propagation</strong><br />
	  <strong><u>Gengyu Lyu</u></strong>, Songhe Feng, Wenying Huang, Guojun Dai<br />
	   Soft Computing (SOCO), 24(7):5165-5176, 2020.
	   <a href="https://link.springer.com/article/10.1007/s00500-019-04269-9">[PDF]</a>  <strong><font color="red">(CCF C)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Partial Multi-Label Learning via Multi-Subspace Representation</strong><br />
	  Ziwei Li*, <strong><u>Gengyu Lyu* (Equal Contributions)</u></strong>, Songhe Feng<br />
	   International Joint Conference on Artificial Intelligence (IJCAI), 2020:2612-2618
	   <a href="https://www.ijcai.org/proceedings/2020/0362.pdf">[PDF]</a>  <strong><font color="red">(CCF A)</font></strong>
	</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
	<p class="media-heading">
	  <strong>Partial Label Learning via Subspace Representation and Global Disambiguation</strong><br />
	  Yue Sun*, <strong><u>Gengyu Lyu* (Equal Contributions)</u></strong>, Songhe Feng<br />
	   The European Conference on Machine Learning (ECML-PKDD), 2020:439-454
	  <a href="https://link.springer.com/chapter/10.1007/978-3-030-67661-2_26">[PDF]</a> <strong><font color="red">(CCF B)</font></strong>
	</p>
  </div>
</div>






	

	
