<div class='award'>
	<h3>
		Team Members
	</h3>
	<ul >
		<li><strong>Doctorate Students</strong>: <br/>
			<strong>2023</strong> : <a href="https://haiqiuru.github.io/personal-Page/QiuruHai">Qiuru Hai</a> (<strong><font color="red">AAAI*1</font></strong>) <br/> 
			<strong>2024</strong> : <a href="https://yuenalin.github.io/">Yuena Lin</a> (<strong><font color="red">中国科协博士生项目</font></strong>, <strong><font color="red">博创奖学金</font></strong>, <strong><font color="red">ICLR*1</font></strong>, <strong><font color="red">ICML*1</font></strong>, <strong><font color="red">NeurIPS*1</font></strong>, <strong><font color="red">TKDE*1</font></strong>, <strong><font color="red">CVPR*1</font></strong>) <br/>
			<strong>2026</strong> : Shuaikang Yuan <br/> 
		</li>
		
		<li><strong>Graduate Students</strong>: <br/>
			<strong>2024</strong> : Hao Wei (<strong><font color="red">AAAI*1</font></strong> | <strong><font color="purple">实习</font></strong> ), Zhuo Li (<strong><font color="red">IJCAI*1</font></strong>, <strong><font color="red">AAAI*1</font></strong> | <strong><font color="purple">实习</font></strong>)<br/>
			<strong>2025</strong> : Shuo Wang, Jie Yao, Ling Ma (<strong><font color="red">IJCAI*1</font></strong>)<br/>
			<strong>2026</strong> : Peixi Zou, Zeshen Guo, Jun Heng <br/>
		</li>
		<li><strong>Undergraduate Students</strong>: <br/>
			<strong>2023</strong> : <a href="https://yishan05.github.io/">Yi Shan</a> (<strong><font color="red">北自然本科生项目</font></strong>, <strong><font color="red">国创项目</font></strong>, <strong><font color="red">国家奖学金/小米特等奖</font></strong>, <strong><font color="red">AAAI*1</font></strong>, <strong><font color="red">FCS*1</font></strong>), <a href="https://y-lj123.github.io/homepage/">Lianjin Yu</a> (<strong><font color="red">SIGKDD*1</font></strong>), Xinxin Zheng (<strong><font color="red">在投</font></strong>), Honghan Cui, Jiong Cao <br/>
			<strong>2024</strong> : Yichi Zhang (<strong><font color="red">在投</font></strong>), Songxuan Shi (<strong><font color="red">在投</font></strong>), Xiangning Zeng (<strong><font color="red">国创项目</font></strong>) <br/> 
		</li>

		<li><strong>Alumni</strong>:  <br/>
			<strong>2026届硕士</strong> : <a href="https://zhongqiyu1.github.io/">Qiyu Zhong</a>（HKUST(GZ), <strong><font color="red">北京市优秀毕业生</font></strong>, <strong><font color="red">校优秀硕士学位论文</font></strong>, <strong><font color="red">国家奖学金</font></strong>, <strong><font color="red">ICML*1</font></strong>, <strong><font color="red">TNNLS*1</font></strong>）, 
			                              Weiqi Kang（Tencent, <strong><font color="red">国家奖学金</font></strong>, <strong><font color="red">IJCAI*1</font></strong>）, 
			                             <a href="https://sunbohang.github.io/">Bohang Sun</a> (BIT&中关村学院, <strong><font color="red">北京市优秀毕业生</font></strong>, <strong><font color="red">校优秀硕士学位论文</font></strong>, <strong><font color="red">国家奖学金</font></strong>, <strong><font color="red">NeurIPS*1</font></strong>, <strong><font color="red">AAAI*2</font></strong>)<br/> 
			<strong>2025届本科</strong> : <a href="https://yiyuanwang-001.github.io//">Yiyuan Wang</a>（BNBU, <strong><font color="red">校优秀本科毕业设计</font></strong><a href="assets/pdf/WYY_BGP.pdf">[PDF]</a>, <strong><font color="red">ICLR*1 [co-first author]</font></strong>)<br/>
			<strong>2024届本科</strong> : <a href="https://menghongdao.com/">Hongdao Meng</a>（NYU, <strong><font color="red">TBD*1</font></strong>）, 
			                              <a href="https://zhouziyu02.github.io/">Ziyu Zhou</a> (HKUST(GZ), <strong><font color="red">北京市优秀本科毕业设计</font></strong><a href="assets/pdf/ZZY_BGP.pdf">[PDF]</a>, <strong><font color="red">IJCAI*1</font></strong>), 
			                              <a href="https://theoremazy.web.illinois.edu">Zhiyuan Ma</a> (大一转学至UIUC)<br/> 
		</li>
	</ul>
</div>
