<div class='award'>



	<h3>
		Students
	</h3>
	<ul >
		<li><strong>Doctorate Students</strong>: <br/>
			<strong>2023</strong> : Qiuru Hai (海秋茹)
		</li>
		
		<li><strong>Graduate Students</strong>: <br/>
			<strong>2023</strong> : Weiqi Kang （康玮琦）, Bohang Sun （孙博航）, Qiyu Zhong （钟淇宇）<br/> 
			<strong>2024</strong> : Hao Wei （魏浩）
		</li>
		
		<li><strong>Undergraduate Students</strong>: <br/>
			<strong>2020</strong> : Hongdao Meng （孟宏道）, Ziyu Zhou （周子渔） <br/>
			<strong>2021</strong> : Yiyuan Wang （王逸远）<br/>
			<strong>2022</strong> : Yakun Hu （胡娅坤：雏鹰学子计划）<br/>
			<strong>2022</strong> : Zhiyuan Ma （马志远）, Jialin Ge （葛佳林：飞腾营学员）<br/>
		</li>
		
		<li><strong>Other Students</strong>:  <br/>
			<strong>2023</strong> : Yuena Lin
		</li>

		<li><strong>Alumni</strong>:  <br/>
			<strong>2023</strong> : Qiyu Zhong (北京工业大学，攻读硕士)
		</li>
	</ul>




</div>
