<div class='award'>



	<h3>
		Students
	</h3>
	<ul >
		<li><strong>Doctorate Students</strong>: <br/>
			<strong>2023</strong> : Qiuru Hai (<font color="red">AAAI*1</font>) <br/> 
			<strong>2024</strong> : Yuena Lin
		</li>
		
		<li><strong>Graduate Students</strong>: <br/>
			<strong>2023</strong> : Qiyu Zhong（<font color="red">国家奖学金</font>, <font color="red">TNNLS*1</font>）, Weiqi Kang（<font color="red">国家奖学金</font>, <font color="red">IJCAI*1</font>）, Bohang Sun (<font color="red">AAAI*2</font>)<br/> 
			<strong>2024</strong> : Hao Wei (<font color="red">AAAI*1</font>), Zhuo Li
		</li>

		<li><strong>Alumni</strong>:  <br/>
			<strong>2024届</strong> : Hongdao Meng（USC，攻读硕士, <font color="red">TBD*1</font>）, <a href="https://zhouziyu02.github.io/">Ziyu Zhou</a> (HKUST(GZ)，攻读硕士, <font color="red">IJCAI*1</font>, <font color="red">北京市优秀本科毕业设计</font>),  Zhiyuan Ma (UIUC, 转学)<br/> 
		</li>
	</ul>




</div>
